<a href="https://colab.research.google.com/github/mmmlk11/MachineLearning/blob/main/ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import numpy as np
import pandas as pd
import sklearn

data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

df_raw=pd.DataFrame(data)
df=df_raw.copy()

for col in ['size','color','gender','bought']:
    df[col]=df[col].astype('category')

df['weight']=df['weight'].astype('float')

df.describe().T

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  408.0  75.299402  300.0  380.0  410.0  450.0  500.0

In [24]:
df.describe(include=['category']).T

       count unique     top freq
size       5      3       M    2
color      5      3     red    2
gender     5      2  female    3
bought     5      2     yes    3

In [35]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])
le.fit_transform(df['bought'])

array([1, 0, 1, 0, 1])

In [36]:
le.classes_

array(['no', 'yes'], dtype=object)

In [48]:
df['bought']=le.fit_transform(df[['bought']])
df

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

In [98]:
from sklearn.preprocessing import OneHotEncoder

encoder=OneHotEncoder(drop='first',sparse=False)
encoder.fit_transform(df[['size']])
#encoder.categories_
df=pd.get_dummies(data=df,drop_first=True)

In [74]:
print(df['price'].mean())

119.0

In [84]:
print(f"{df['price'].std():.4f}")

48.4768

In [89]:
def Standard(x):
  return (x-x.mean())/(x.std())

print(Standard(df['price']))

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [92]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
scaler.fit_transform(df[['price']])

array([[ 1.84506242],
       [-0.69189841],
       [-0.4612656 ],
       [ 0.2306328 ],
       [-0.92253121]])

In [100]:
scaler=StandardScaler()
df[['price','weight']]=scaler.fit_transform(df[['price','weight']])
df

      price    weight  bought  ...  color_green  color_red  gender_male
0  1.845062  1.366002       1  ...            0          1            0
1 -0.691898  0.623610       0  ...            1          0            1
2 -0.461266 -1.603567       1  ...            0          0            1
3  0.230633 -0.415740       0  ...            1          0            0
4 -0.922531  0.029696       1  ...            0          1            0

[5 rows x 8 columns]

In [102]:
le=LabelEncoder()
df['bought']=le.fit_transform(df['bought'])

scaler=StandardScaler()
df[['price','weight']]=scaler.fit_transform(df[['price','weight']])

df=pd.get_dummies(data=df,drop_first=True)

df

      price    weight  bought  ...  color_green  color_red  gender_male
0  1.845062  1.366002       1  ...            0          1            0
1 -0.691898  0.623610       0  ...            1          0            1
2 -0.461266 -1.603567       1  ...            0          0            1
3  0.230633 -0.415740       0  ...            1          0            0
4 -0.922531  0.029696       1  ...            0          1            0

[5 rows x 8 columns]